.hiring{
    display: flex;
    justify-content: space-between;
}

.hiring-crewList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiringList{
    width: 750px;
}

.input{
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(0, 255, 255, 0.1);
    border-color: #00ffff;
    color: #00ffff;
    font-family: 'Orbitron', sans-serif;
}

.hiringList-content{
  border: 3px solid #00ffff;
  box-shadow: 0 0 3px#00ffff, 0 0 6px#00ffff;
  background-color: rgba(0, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}