.crewList {
  width: fit-content;
  padding: 0;
}

.crewList li {
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px solid #00ffff;
  box-shadow: 0 0 3px#00ffff, 0 0 6px#00ffff;
  background-color: rgba(0, 255, 255, 0.1);
  border-radius: 10px;
}

.crewList img{
  border-radius: 5px;
  width: 250px;
}

.crewList span{
  width: fit-content;
}
.crewList ul{
  margin: 0 auto;
  padding: 10px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
  gap: 10px; /* espacio entre filas y columnas */
  list-style: none; /* quitar viñetas */
}

/* Opcional: centrar el título igual que la lista */
.title {
  text-align: center;
  padding: 50px;
  margin: 40px;
  margin-left: 142px;

}
.crewList button{
  width: fit-content;
  display: grid;
  margin: 1%;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px #ff4d4d, 0 0 10px #ff4d4d;
}
.btnDetails{
  width: fit-content;
  display: grid;
  margin: 1%;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: #0051ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px #0051ff, 0 0 10px #0051ff;
}