html, body{
    padding: 0;
    margin: 0;
}
#root{
    background-image: url('./assets/background_galaxy.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    color: #00ffff;
}