header {
  border-bottom: 3px solid #00ffff;
  box-shadow:
    0 0 3px#00ffff,
    0 0 6px#00ffff;
  background-color: rgba(0, 255, 255, 0.10);

  display: flex;
  padding: 15px;
}

main{
  padding: 20px;
}

footer{
  border-top: 3px solid #00ffff;
  box-shadow:
    0 0 3px#00ffff,
    0 0 6px#00ffff;
  background-color: rgba(0, 255, 255, 0.10);
  display: flex;
  justify-content: center;
}
